.text {
  font-family:Sans-serif;
  color:silver;
  display:block;
  text-align: center;
  margin-top:50px;
}

body {
  background-color:purple;
  font-size: 100%;
}

img{
  position:relative;
  margin-top:50px;
  margin-left:10%;
  width:70%;
  border: 20px silver solid;
}

div{
  display:inline-block;
  border:2px black solid;
}

#aa {
  font-family:Sans-serif;
  color:green;
  font-size:200%;
  height:300px;
  width:150px;
  background-color:white;
}

#bb {
  font-family:Sans-serif;
  color:black;
  font-size:200%;
  height:100px;
  width:150px;
  background-color:yellow;
}

#cc {
  font-family:Sans-serif;
  color:yellow;
  font-size:200%;
  height:200px;
  width:150px;
  background-color:green;
}
