.text {
  font-family:Sans-serif;
  color:silver;
  display:block;
  text-align: center;
  margin-top:50px;
}

body {
  background-color:purple;
  font-size: 100%;
}

img{
  margin-top:50px;
  width:70%;
  display: center;
  border 20px silver solid
}


