.text {
  font-family:Sans-serif;
  color:silver;
  display:block;
  text-align: center;
  margin-top:50px;
}

body {
  background-color:purple;
  font-size: 100%;
}

img{
  position:relative;
  margin-top:50px;
  margin-left:10%;
  width:70%;
  border: 20px silver solid;
}

#aa {
  font-family:Sans-serif;
  color:green;
  font-size:200%;
}
